a {
    display: block;
    margin-bottom: 0.5em
}

h2 {
    margin-bottom: 0.25em;
}

p {
    display: inline-block;
    margin-right: 1em;
    margin-top: 0;
}

img {
    width: auto;
    max-height: 550px;
    display: block;
}